div.menu{
    display: flex;
    justify-content: space-between;
}
div.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
div.menu ul li{
    display: inline-block;

}
body {
    margin: 53px;
    
}

.Vertical{
    width: 43%;
    float: left;
    padding: 0 5px;
  }
  
  .horizontal {margin: 0 -10px;}

  .horizontal:after {
      content: "";
    display: table;
    clear: both;
  }
#mori{
    font-size: 20px;
}



